body {
	font-family: 'Open Sans', sans-serif;
	/*font-weight: 300;*/
	background: hsla(121, 22%, 99%, 1);
}

h1 {
	font-size: 3rem;
}

hr {
    border-style: dashed;
    border-color: hsla(0,0%,72%,1);
    width: 80%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/*general link styles*/

a {
	text-decoration: none;
	color: slateblue;
	font-weight: bold;
}

a:visited {
	color: firebrick;
}

a:hover {
	color: tomato;
}

a:active {
	color: orangered; /*ORANGEREEEEDDDDD*/
}



/*connect icons*/

.connectIcons {
    display: flex;
    justify-content: space-around;

}

.connectIcon {
	position: relative;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
  transition: .2s;
	}

.introduction {
	  margin-left: 20%;
	  margin-right: 19%;
	  text-align: left;
	  margin-top: 1%;
}



/*new*/
.no-phone {
	display: inline;
}

.hero-type {
	font-family: 'Lora', serif;
	font-size: 5em;
	margin-left: 10%;
	margin-top: 10%;	
}

@media all and (max-width: 600px){
	.hero-type, .introduction {
		margin-left: 10%;
    margin-right: 10%;
	}
	.no-phone {
		display: none;
	}
}

